*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

@import './variants';
@import './mixins';



body {
    @include flex-center();
    font-family: 'Open Sans';
}

// COMIENZO - ENCABEZADO
.container {
    width: 1280px;
    height: 1062px;
    @include flex-center();
    flex-direction: column;
    background-color: $bg-color;
}
.container-head {
    display: flex;
    width: 999px;
    border-bottom: solid 1px $divisor-color;
        &__title{
            color: $title-color;
            width: 50%;
            font-size: 22px;
            font-weight: bold;
            line-height: 30px;   
        }
        &__buttons{
            display: flex;
            width: 50%;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 13px;
                &--exportar{
                    @include button-export()
                }
                &--registrar{
                    @include button-register()
                }
        }
       
}

// FIN ENCABEZADO

//---------------------------------------------------------//

//COMIENZO BOXES 

.boxes{
display: flex;
width: 999px;
margin-top: 22px;
margin-bottom: 23px;
    &__box1, &__box2, &__box3, &__box4{
        @include box ();
            h2{
                @include box-title()
            }
            i{
                width: 10.06px;
                height: 18.75px;
            }
            &--value{
                @include box-value()
            }
            &--period{
                @include box-period()
            }

    }
    &__box2 {
        margin-right: 13px;
        margin-left: 13px;
    }
    &__box3{
        margin-right: 13px;
    }

}

// FIN BOXES

//---------------------------------------------------------//

.mobile__searched{
    display: none;
}

//COMIENZO GRID

//FILTROS

.grid {
    width: 999px;
    height: 682px;
    background-color: $primary-color;
    border-radius: 8px;
    border: 1px solid #D4D8E1;
        &__searched {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-top: 23px;
                &--text{
                    width: 274px;
                    height: 35px;
                    display: flex;
                    position: relative;
                    padding: 0;
                    &--lupa{
                        width: 274px;
                        height: 35px;
                        border-radius: 4px;
                        border: 1px solid $outline-text-color;
                        padding: 0;
                        @include inputReset()
                    }
                    &--lupa::placeholder {
                        @include placeholder()
                    }
                    i{
                        position: absolute;
                        display: flex;
                        justify-content: flex-end;
                        color: $text-color;
                        top: 8px;
                        right: 11px;
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                    }      
                }
                &--curso, &--estado, &--moneda {
                    width: 160px;
                    height: 35px;
                    border-radius: 4px;
                    border: 1px solid $outline-text-color;
                    @include flex-center();
                        select{
                            width: 140px;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 19px;
                            font-style: normal;
                            border: none;
                            color: $text-color;
                            font-family: 'Open Sans';
                        }
                }
                &--date{
                    width: 150px;
                    height: 34px;
                    border-radius: 4px;
                    border: 1px solid $outline-text-color;
                    @include flex-center();
                        input{
                            border: none;
                            font-size: 13px !important;
                            font-weight: bold;
                            line-height: 18px;
                            color: $text-color;
                            font-family: 'Open Sans' !important;
                            margin-left: 13px;
                            margin-right: 8px;
                            @include inputReset()
                        }
                        input::-webkit-calendar-picker-indicator {
                            display: none;
                        }
                            &--icon{
                                width: 44px;
                                border-left: solid 1px $outline-text-color;
                                @include flex-center();
                            }
                                i{
                                    width: 15px;
                                    height: 16.67px;
                                    color: $divisor-color;
                                    font-size: 100%;
                                    margin-right: 12.5%;
                                    margin-left: 12.5%;
                                }
                }
        }

}

//CATEGORIES

.grid__categories{
    width: 100%;
    display: flex;
    margin-top: 34px;
    margin-bottom: 15px;
        &--orden, &--curso, &--comprador, &--fecha, &--estado, &--ganancias{
            @include flex-center();
            padding: 0;
                p{
                    @include categories-p();
                }
                &--iconos{
                    @include categories-i()
                }
        }
        &--orden{
            margin-right: 44px;
            margin-left: 54px;
        }
        &--curso{
            margin-right: 168px;
        }
        &--comprador{
            margin-right: 93px;
        }
        &--fecha{
            margin-right: 77px;
        }
        &--estado{
            margin-right: 55px;
                p{
                    width: 78px;
                }
        }
}

//GRID-DATA

.grid__data{
    width: 955px;
    display: flex;
    flex-direction: column;
    margin-left: 23px;
    border-top: 0.7px solid $outline-text-color;
    
    &--file1, &--file2, &--file3, &--file4, &--file5, &--file6, &--file7, &--file8, &--file9{
            @include grid-files();
                &--number{
                    width: 83px;
                    height: 20px;
                    margin-left: 28px;
                    margin-right: 30px;
                    color: $secondary-color;
                    font-size: 15px;
                    font-weight: bold;
                    text-decoration: underline;
                }
                &--curso{
                    width: 200px;
                    margin-right: 27px;
                    color: $text-color;
                    font-size: 15px;
                    font-weight: 400;
                }
                &--comprador{
                    width: 139px;
                    margin-right: 35px;
                    color: $text-color;
                    font-size: 15px;
                    font-weight: 400;
                }
                &--fecha{
                    width: 89px;
                    height: 20px;
                    margin-right: 37px;
                    color: $text-color;
                    font-size: 15px;
                    font-weight: 400;
                }
                &--estado{
                    width: 106px;
                    height: 20px;
                    @include flex-center();
                    border-radius: 10px;
                    margin-right: 39px;
                    color: $secondary-text-color;
                    font-size: 13px;
                    font-weight: 400;
                }
                &--ganancia{
                    width: 81px;
                    height: 20px;
                    margin-right: 35px;
                    color: $text-color;
                    font-size: 15px;
                    font-weight: 400;
                }
                &--menu{
                    width: 20px;
                    color: $divisor-color;
                    font-size: 17px;
                    font-weight: 400;
                }
           
        }
}

.mobile__export{
    display: none
}

// FIN GRID

//---------------------------------------------------------//


@import './mobile';
@import './_tablet'